body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Vertically center items */
    justify-content: center; /* Center both logo and text */
}

.header h1 {
    margin: 0;
    font-family: 'League Script'; /* Use the new font */
    font-size: 3em; /* Adjust size as needed */
    margin-left: 15px;
}

/* Logo styles */
.logo {
    height: 50px; /* Adjust height as needed */
    width: auto;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #000;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.item {
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 15px;
    flex-basis: calc(33.33% - 30px); /* Three items per row with some margin */
    max-width: calc(33.33% - 30px);
    text-align: center;
}
.item img {
    width: 100%;
    border-bottom: 2px solid #ccc;
}

.item h3 {
    margin: 10px 0;
}

.item p {
    padding: 0 10px;
}

.learn-more-btn {
    background-color: #00aaff;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.learn-more-btn:hover {
    background-color: #0088cc;
}